.parent{
    background-color: cornflowerblue;
    padding: 20px;
    color: black;
    position: relative;
}

.child-one{
    background-color: blueviolet;
    position: relative;
}

.child-two{
    background-color: darkgrey;
    position: sticky;
}

.child-three{
    background-color: teal;
}

.child{
    font-family: fantasy;
}